.exercises {
    display: flex;
    margin-top: 20px;
}

.exercisesCount {
    display: flex;
}

.button {
    margin-top: 20px;
    border: none;
    border-radius: 0 0 6px 6px;
    width: 344px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}
