.wrapper {
    width: var(--modal-width);
    border-radius: 2px;
    padding: 64px 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-gray-1);
    z-index: 100;
}

.title {
    margin-top: 25px;
    font-weight: var(--weight-500);
    font-size: var(--font-24);
    line-height: var(--line-h130);
    letter-spacing: var(--spacing-1);
    text-align: center;
    color: var(--character-light-primary-85);
}

.message {
    font-weight: var(--weight-400);
    font-size: var(--font-14);
    line-height: var(--line-h130);
    text-align: center;
    color: var(--neutral-gray-7);
    margin-bottom: 23px;
    white-space: pre-line;
}

.button {
    background-color: var(--primary-light-6);
}

@media (max-width: 833px) {
    .wrapper {
        width: var(--modal-mobile-width);
        padding: 32px 17px;
    }
}
