.wrapper {
    margin-bottom: 25px;
}

.exercises {
    display: flex;
    margin-top: 8px;
}

.text {
    width: 100%;
    height: 24px;
    padding-left: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--character-light-dividers);
    background: var(--character-light-dividers);
}

.textWeight,
.textApproaches {
    width: 89px;
    height: 24px;
    padding-left: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--character-light-dividers);
    background: var(--character-light-dividers);
}

.exercisesCount {
    display: flex;
}

.replays {
    margin-right: 30px;
}
.weight {
    margin-right: 3px;
}
.marginCross {
    display: flex;
}
.cross {
    height: 14px;
    width: 14px;
    margin-left: 6px;
    margin-top: 4px;
    color: var(--neutral-gray-6);
}
