.wrapper {
    width: var(--modal-width);
    height: 428px;
    border-radius: 2px;
    padding: 64px 43px 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-gray-1);
    z-index: 100;
}

.title {
    margin-top: 25px;
    font-weight: var(--weight-500);
    font-size: var(--font-24);
    line-height: var(--line-h130);
    letter-spacing: var(--spacing-1);
    text-align: center;
    color: var(--character-light-primary-85);
}

.message,
.text {
    font-weight: var(--weight-400);
    font-size: var(--font-14);
    line-height: var(--line-h130);
    text-align: center;
    color: var(--neutral-gray-7);
}

.secretCod {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 300px;
    display: flex;
    gap: 13px;
}

.numberWrapper {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberWrapperError {
    border: 1px solid #ff4d4f;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characterFilled {
    background: white;
}

.number {
    font-weight: var(--weight-400);
    font-size: var(--font-14);
    line-height: var(--line-h130);
    text-align: center;
}

.selected {
    outline: none;
}

@media (max-width: 833px) {
    .wrapper {
        width: var(--modal-mobile-width);
        height: 457px;
        padding: 32px 11px 14px;
    }

    .secretCod {
        width: 280px;
        margin-top: 22px;
        margin-bottom: 15px;
    }

    .message {
        padding: 0 19px;
    }

    .text {
        padding: 0 31px;
    }
}
