.wrapper {
    width: 539px;
    height: 686px;
    border-radius: 2px;
    padding: 63px 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 100;
}
.logo {
    margin-bottom: 46px;
}
.form {
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonWrapper {
    width: 100%;
    padding-bottom: 32px;
}

.formWrapper {
    width: 100%;
    height: 319px;
}

.inputEmail {
    width: 368px;
    margin-bottom: 8px;
}

.inputPassword {
    width: 368px;
}

.inputConfirmPassword {
    width: 368px;
    margin-top: 25px;
}

.submitButton {
    margin-top: 36px;
    background-color: #2f54eb;
}

@media (max-width: 1439px) {
    .wrapper {
        width: 539px;
        height: 686px;
        position: relative;
        bottom: 25px;
    }
}

@media (max-width: 833px) {
    .wrapper {
        width: 328px;
        height: 564px;
        bottom: 4px;
        padding: 32px 16px;
    }

    .form {
        width: 296px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 32px;
    }

    .checkAndLink {
        height: 49px;
    }

    .googleButton {
        font-size: 14px;
    }

    .buttonWrapper {
        padding-bottom: 23px;
    }

    .formWrapper {
        height: 308px;
    }

    .inputEmail {
        width: 296px;
    }

    .inputPassword {
        width: 296px;
        font-size: 14px;
    }

    .inputConfirmPassword {
        width: 296px;
        margin-top: 13px;
        font-size: 14px;
    }

    .submitButton {
        margin-top: 31px;
    }
}
