.photoText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-secondary-45);
    padding: 0 8px;
}

.upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.uploadText {
    font-size: 12px;
}

.uploadButton {
    width: 140px;
    font-size: var(--font-14);
    margin-left: 22px;
}
