.header {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin-bottom: 25px;
}

.trainingInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.button {
    margin-top: 20px;
    border: none;
    border-radius: 0 0 6px 6px;
    width: 344px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}
