.item {
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 0;
    border-radius: 6px;
    cursor: pointer;
}
.item:hover {
    background-color: #e6f4ff;
}

.itemCollapsed {
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    transition: all 1s;
    border-radius: 6px;
    padding: 0 20px;
}
.itemCollapsed:hover {
    background-color: #e6f4ff;
}

.itemLabel {
    width: 100%;
    margin: 0 0 0 10px;
    animation-name: show;
    animation-duration: 2.5s;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 833px) {
    .item {
        padding: 0;
    }
    .itemLabel {
        margin: 0;
        padding: 0;
    }
}
