.style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1440px;
    height: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.background {
    width: 1440px;
    height: 1024px;
    background-image: url('./../../assets/img/enter-page-light.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-720px);
    z-index: 1;
}

@media (max-width: 1439px) {
    .wrapper {
        width: 834px;
        height: 1194px;
        transform: translateX(-417px);
    }
}

@media (max-width: 833px) {
    .wrapper {
        width: 360px;
        height: 800px;
        transform: translateX(-180px);
    }
}
