.wrapper {
    position: fixed;
    width: 264px;
    border-radius: 2px;
    background: var(--character-light-primary-inverse);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    z-index: 102;
}

.top {
    padding: 20px 15px 0;
    width: 264px;
    height: 72px;
    display: flex;
    justify-content: space-between;
}

.topSelect {
    display: flex;
    padding: 20px 15px 0;
    width: 264px;
    height: 53px;
    align-items: center;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin-bottom: 4px;
}

.message {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--character-light-dividers);
}

.userExercisesWrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.userExercises {
    padding-left: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.change {
    padding-right: 20px;
    color: var(--primary-light-6);
}

.itemWrapper {
    display: flex;
    justify-content: space-between;
}

.button {
    margin-top: 15px;
    margin-left: 12px;
    width: 91%;
}

.buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.buttonSave {
    color: var(--primary-light-6);
}

@media (max-width: 833px) {
    .wrapper {
        position: fixed;
        width: 320px;
        height: 200px;
        margin-top: 40px;
        right: calc(50% - 160px);
    }
}
