.wrapper {
    padding: 66px 67px 59px;
}

.button {
    width: fit-content !important;
    padding: 0 17px;
    font-size: 14px;
}

@media (max-width: 833px) {
    .wrapper {
        width: 328px;
        height: 386px;
        padding: 66px 23px 59px;
    }
}
