.wrapper {
    position: relative;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.profileWrapper {
    background-image: url('../../assets/img/page-light.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
}

.headerWrapper {
    display: flex;
    height: 72px;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-light-1);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.headerTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.settingsButtonWrapper {
    display: flex;
    justify-content: flex-end;
}

.settingsButton {
    display: flex;
    width: 129px;
    height: 32px;
    padding: 4px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #262626;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    margin-right: 8px;
}

.settingsButtonMobile {
    font-size: 14px;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
}

.wrapperContent {
    position: relative;
    border-radius: 8px;
    padding: 24px;
    max-width: 100%;
    height: 886px;
    background: var(--character-light-primary-inverse);
    margin: 24px 24px 0;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.formWrapper {
    max-width: 480px;
}
.userInfo {
    display: flex;
    margin-top: 24px;
    margin-bottom: 18px;
}

.userData {
    margin-left: 20px;
    width: 347px;
}

.firstName,
.lastName {
    margin-bottom: -10px;
}

.inputEmail {
    margin-top: 25px;
    margin-bottom: 10px;
}

.inputConfirmPassword {
    margin-top: 20px;
    margin-bottom: 40px;
}

.alert {
    margin: 0 auto;
    margin-top: 200px;
    width: 395px;
}

@media (max-width: 1439px) {
    .headerWrapper {
        height: 96px;
        padding: 16px 24px;
        align-items: flex-start;
    }
    .headerTitle {
        font-weight: 400;
        font-size: 14px;
    }
    .settingsButtonWrapper {
        margin-top: 30px;
    }
    .wrapperContent {
        height: 1032px;
    }
}

@media (max-width: 833px) {
    .wrapper {
        height: 100vh;
        max-width: 360px;
    }
    .profileWrapper {
        height: 550px;
        max-width: 360px;
    }
    .userData {
        margin-left: 0;
        width: 312px;
        /* margin-bottom: -35px; */
    }
    .wrapperContent {
        border-radius: 0;
        margin: 24px 0;
    }
    .userInfo {
        flex-direction: column-reverse;
    }
    .firstName,
    .inputEmail,
    .inputConfirmPassword,
    .inputPassword,
    .lastName {
        font-size: var(--font-14);
    }
    .submitButton {
        width: 100%;
    }

    .alert {
        position: absolute;
        top: calc(100vh - 225px);
        left: 24px;
        margin-top: 0;
        width: 312px;
    }
}
