#root {
    background-color: rgba(243, 243, 243, 0.75);
}

.ant-menu-horizontal > .ant-menu-item:after {
    left: 0 !important;
    right: 0 !important;
}

.ant-menu-item-selected {
    color: #2f54eb !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
    color: #2f54eb !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected:after {
    border-bottom: 2px solid #2f54eb;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2f54eb;
    border-color: #2f54eb;
}

.ant-input-group-addon {
    color: #262626 !important;
}

.ant-form-item-explain-error,
.ant-form-item-extra {
    font-size: 12px !important;
    width: 368px !important;
}

.ant-form-item-explain > div {
    font-size: 12px !important;
    width: 368px !important;
}
@media (max-width: 833px) {
    .ant-form-item-explain > div {
        width: 297px !important;
    }
}

.vi__character {
    font-size: 14px;
}

.vi__character--selected,
.vi__character--inactive {
    color: #262626;
    background-color: transparent;
}
