#root {
    background-color: rgba(243, 243, 243, 0.75);
}

.ant-menu-horizontal > .ant-menu-item:after {
    left: 0 !important;
    right: 0 !important;
}
.ant-input-group-addon {
    color: #262626 !important;
}

.ant-form-item-explain-error,
.ant-form-item-extra {
    font-size: 12px !important;
    width: 368px !important;
}

.ant-form-item-explain > div {
    font-size: 12px !important;
    width: 368px !important;
}

.vi__character {
    font-size: 14px;
}

.vi__character--selected,
.vi__character--inactive {
    color: #262626;
    background-color: transparent;
}
