.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.modal {
    border-radius: 2px;
    width: 539px;
    background: var(--character-light-primary-inverse);
}
