.wrapper {
    width: 539px;
    height: 419px;
    border-radius: 2px;
    padding: 64px 86px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 100;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 1px;
    text-align: center;
    color: #262626;
    margin-bottom: 33px;
}

.inputPassword {
    width: 368px;
    font-size: 15px;
}

.inputConfirmPassword {
    width: 368px;
    font-size: 15px;
    margin-top: 23px;
}

@media (max-width: 833px) {
    .wrapper {
        width: 328px;
        height: 386px;
        padding: 32px 15px 14px;
    }

    .inputPassword {
        width: 296px;
    }

    .inputConfirmPassword {
        width: 296px;
        margin-top: 9px;
    }
}
