.wrapper {
    width: var(--modal-width);
    height: 419px;
    border-radius: 2px;
    padding: 64px 86px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-gray-1);
    z-index: 100;
}

.title {
    font-weight: var(--weight-500);
    font-size: var(--font-24);
    line-height: var(--line-h130);
    letter-spacing: var(--spacing-1);
    text-align: center;
    color: var(--character-light-primary-85);
    margin-bottom: 33px;
}

.inputPassword {
    width: var(--authentication-input-width);
    font-size: 15px;
}

.inputConfirmPassword {
    width: var(--authentication-input-width);
    font-size: 15px;
    margin-top: 23px;
}

@media (max-width: 833px) {
    .wrapper {
        width: var(--modal-mobile-width);
        height: 386px;
        padding: 32px 15px 14px;
    }

    .inputPassword {
        width: var(--authentication-mobile-input-width);
    }

    .inputConfirmPassword {
        width: var(--authentication-mobile-input-width);
        margin-top: 9px;
    }
}
